<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>If Else</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <p v-if="show">You can see me! <span>Hello !</span></p>
        <p v-else>Now you see me!</p>
        <template v-if="show">
            <h1>Heading in a Template</h1>
            <p>Text in a Template</p>
        </template>
        <p v-show="show">Do you also see me?</p>
        <button type="button" @click="show = !show">Switch</button>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                show: true
            }
        })
    </script>
    
</body>
</html>